@using app.Components.ClassBlocks.AuctionCard;
@inherits ComponentBase

@code {
    [Parameter, EditorRequired]
    public AuctionCard Card { get; set; } = default!;
}

<div class="card-component">
    <img src="@Card.Image" class="card-img-top" alt="@Card.Image">
  <div class="info-names">
    <span>
      <span class="author">
        @Card.Nome_artista -
      </span>
      <span class="name">
        @Card.Prod_nome
      </span>
    </span>
  </div>
  <div class="info-bids">
    <div class="left-bid-text"> Licitação atual:</div>
    <div class="right-bid-text"> 
      <div class="preco-base">@Card.Preco_base €</div>
      <div class="preco-com-envio"> @Card.Preco_base+taxas€ incl.</div>
    </div>
  </div>
  <div class="time">Faltam 15min 10seg</div>
</div>
