@using Classes.AuctionCard;
@using Classes.Bids;
@using Classes.Time;
@using System;
@inherits ComponentBase
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime
@using app.Components.Pages.Menu
@rendermode InteractiveServer

<div class="card-component" @onclick=" () => HandleCardClick(Card.IdLeilao)">
  <div class="left-side">
    @if (Card.Images.Any()) {
      <img src="@Card.Images.First().Path" class="auction-img" alt="@Card.Images.First().Path">
    }
    else {
      <p class="auction-img">Image not found</p>
    }
  </div>
  <div class="right-side">
    <div class="top-row">
      <div class="info-names">
          <span class="author">
              @Card.Nome_artista -
          </span>
          <span class="name">
              @Card.Prod_nome
          </span>
      </div>
        <div class="time">
          <text>Fim em @Time.BetterPrintDate(Card.DataFim)</text>
        </div>
      </div>
    <div class="bottom-row">
      <div class="left-button-section"> 
        <button class="entregar-button" @onclick:stopPropagation="true" @onclick="MostrarMenuEntregar">ENTREGAR</button> @*impedir propagação do efeito de clicar para o card component!!!*@
      </div>
      <div class="right-bid-text"> 
        <div class="preco-atual">@Card.Maior_licitacao.Valor.ToString("F2") €</div>
        <div class="preco-com-envio"> @finalCost.ToString("F2") € incl.</div>
      </div>
    </div>
  </div>
  	@if (mostrarMenuEntregar)
	{
		<EntregarLeilaoMenu leilao="Card" CloseCallback="FecharMenuEntregar"/>
	}
</div>

@code {
  [Parameter, EditorRequired]
  public AuctionCard Card { get; set; } = default!;
  private decimal finalCost;

  private bool mostrarMenuEntregar = false;
  protected override void OnInitialized()
  {
      finalCost = Card.Maior_licitacao.Valor + Card.Custo_envio;
  }

  private void HandleCardClick(int auctionId) {
    NavigateToDetalhesLeilao(auctionId);
  }
  private void NavigateToDetalhesLeilao(int auctionId) {
      NavigationManager.NavigateTo($"/admin/AuctionDetails/{Card.IdLeilao}");
  }

  private void MostrarMenuEntregar() {
      mostrarMenuEntregar = true;
  }

  private void FecharMenuEntregar() {
		mostrarMenuEntregar = false;
    NavigationManager.NavigateTo(NavigationManager.Uri,true); // dá refresh da página atual !!!!!
	}
}
